# --- Server ---
PORT=3000

# github api token
GITHUB_CLIENT_ID=your-github-api-client-id
GITHUB_CLIENT_SECRET=your-github-api-client-secret
GITHUB_REDIRECT_URI=//localhost:3000/auth/github/callback

FLASK_SECRET_KEY=아주_긴_랜덤_문자열

MONGO_DB=your-mongodb-api-key