<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/src/static/css/index.css">
  <title>Document</title>
</head>
<body>
  <div>
    <header class="bg-red-500 p-4">
      헤더
    </header>
    <div class="grid grid-cols-[25rem_auto_25rem] justify-stretch">
      <div id="sidebar-left" class="bg-blue-500 p-4">
        왼쪽 사이드 바
      </div>
      <div id="content" class="bg-green-500 p-4">
        내용
      </div>
      <div id="sidebar-right" class="bg-yellow-500 p-4">
        사이드바 오른쪽
      </div>
    </div>
  </div>
</body>
</html>