<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/src/static/css/login_styles.css">
</head>
<body>
    <div class="container">
        <h3>My Github Daily Log</h3>
        <div class="upper">
        <h2>Login</h2>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="text" name="password" placeholder="Password">
        </div>
        <a href="sc" id="Pass">Forgot your Password?</a>
        <br>
        <button type="submit" id="sign">Sign in</button>
        <br>
        <a href="register.html" id="reg">Create new account</a>
        <br>
        <h5 id="or">Or continue with</h5>
        <div class="github">
            <img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="깃허브 고양이" id="cat">
            <a href="" id="git">sign in with Github</a>
        </div>
    </div>
</div>
</body>
</html>