<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/src/static/css/index.css">
  <title>Document</title>
</head>
<body>
  <div>
    <header class="sticky header bg-red-500 p-4 top-0 z-50">
      qwer
    </header>
    <div class="justify-center flex">
      <div id="content" class="w-163.75">
        <div class="profile-group-main flex gap-4">
          <div class="profile-group my-2">
            <label class="display-name font-bold">
              <a href="#" id="profile-github">Profile picture</a>
            </label>
            <div class="group relative cursor-pointer mt-2">
              <img id="profile-img" class="rounded-xl bg-white group-hover:brightness-50 transition" src="https://api.dicebear.com/10.x/identicon/svg?seed=default" width="150" height="150">
              <span id="play-dice!" class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition">
                play dice!
              </span>
            </div>
          </div>

          <div class="form-group flex-1">
            <div class="form-group">
              <div class="form-group-header my-2">
                <label class="display-name font-bold">
                  Name
                </label>
              </div>
              <div class="form-grup-body my-2">
                <input value="" placeholder="input" class="form-control border border-gray-500 rounded-lg px-2 w-full">
              </div>
            </div>
            <div class="form-group">
              <div class="form-group-header my-2">
                <label class="display-name font-bold">
                  Bio
                </label>
              </div>
              <div class="form-grup-body my-2">
                <textarea id="bio-github" placeholder="input" class="forom-control resize-none border border-gray-500 rounded-lg px-2 h-21 w-full"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-info text-right text-size text-[12px]">
          <p>누적 활동일: <span id="active-date">-</span>일 | 최초 가입일: <time id="join-date">-</time></p>
        </div>

        <div class="repos-group">
          <label class="display-name font-bold">
            Repositories
          </label>
          <div id="repo-list" class="grid grid-cols-2 gap-4 my-2">

            <!-- 리포지토리 카드 들어갈 자리 -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../static/js/profile_index.js"></script>

</body>
</html>