<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_styles.css') }}">
</head>
<body>
    <div class="container">
        <h3>My Github Daily Log</h3>
        <div class="upper">
        <h2>Register</h2>
        <input type="email" placeholder="Email">
        <br>
        <input type="text" placeholder="Password">
        </div>
        <input type="text" placeholder="Confirm Password">
        <input type="submit" value="Sign in" id="sign">
        <br>
        <a href="login.html" id="reg">Already have an account</a>
        <br>
        <h5 id="or">Or continue with</h5>
        <div class="github">
            <img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="깃허브 고양이" id="cat">
            <a href="github.com" id="git">sign in with Github</a>
        </div>
    </div>
</div>
</body>
</html>