<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>비번 찾기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scpassword.css') }}">
</head>

<body>
    <div class="container">
        <h3>Search Password</h3>
        <div class="upper">
            <h2>search</h2>
            <input type="email" placeholder="Email" value="">
            <br>
            <input type="text" placeholder="Verify Code" value="">
        </div>
        <br>
        <button class="Verify" id="sign" value="">Verify</button>
        <br>
        <a class href="login.html" id="reg">back to login</a>
        <br>
        </div>
    </div>
    </div>
</body>

</html>